// 设置字体,楷体
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: "楷体";
  background-image: url("./images/fd163096a22c0e56d0426e5f48645cc6.jpg");
  width: 100%;
  margin: 0 auto;
  padding-bottom: 200px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
  height: 100px;

  ul {
    flex: 1;
    display: flex;
    align-items: center;
    li {
      display: inline-block;
      list-style: none;
      font-size: 30px;
      flex: 1;

      a {
        text-decoration: none;
        color: #000;
        padding: 10px;

        &:hover {
          color: #fff;
          background: #000;
        }
      }
    }
  }

  .search {
    input {
      width: 300px;
      height: 50px;
      border: none;
      // border-radius: 5px;
      // border: 1px solid #000;
      background-color: #fff;
      padding: 5px;
      // 移除默认的轮廓
      outline: none;

      // placeholder颜色
      &::placeholder {
        color: #ccc;
        font-size: 18px;
      }
    }
  }
}

main {
  width: 1000px;
  margin: 0 auto;

  .section-1 {
    position: relative;
    margin-top: 30px;

    img {
      width: 100%;
      object-fit: contain;
    }

    .desc {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 35%;
      font-size: 20px;
      line-height: 42px;
      right: 20px;
    }
  }

  .section-2 {
    position: relative;
    display: flex;
    margin-top: 30px;
    gap: 60px;

    img {
      display: inline-block;
      width: calc(50% - 30px);
    }
  }

  .section-4 {
    position: relative;
    display: flex;
    margin-top: 30px;
    gap: 20px;

    img {
      flex: 1;
      height: 300px;
    }
  }

  // banner
  .banner {
    position: relative;
    margin-top: 30px;

    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

.main {
  width: 1000px;
  margin: 0 auto;
  background-color: aquamarine;
  // padding-left: 20px;
  // padding-right: 20px;
  // padding-bottom: 200px;
  background-image: url('../images/bg.jpg');

  .section {
    margin-bottom: 40px;
  }

  .banner {
    object-fit: contain;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .flex {
    display: flex;
    justify-content: space-between;

    .item {
      flex: 1;
      position: relative;

      img {
        width: 100%;
        object-fit: cover;
      }

      .desc {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 4px;
      }
    }
  }

  .title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
  }

  .article {
    margin-bottom: 20px;

    .sub-title {
      text-align: center;
      font-size: 26px;
      margin: 20px 0;
    }

    .content {
      font-size: 20px;
      line-height: 1.5;
      margin: 0 auto;

      width: 800px;
    }
  }
}